<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Tweet</title>
  </head>
  <body>
    <h1>Edit Your Tweet:</h1>
    <form class="" action="/tweets/<%=tweet.id%>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <input type="text" id="content" name="content" value="<%=@tweet.content%>">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
