<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Tweet</title>
  </head>
  <body>
      <h1>Edit Your Tweet:</h1>
      <form action="/tweets/<%=@tweet.id%>/edit" method="post">
        <input id="hidden" type="hidden" name="_method" value="patch">
        <input type="text" id="content" name="tweet[content]" value="<%= @tweet.content%>">

        <input type="submit" value="submit" id="submit">
      </form>
      <!-- <a href="/users/login">Please log in</a> -->
  </body>
</html>
