<h1>Login</h1>
<form method='POST' action='/login'>
  <input type='text' name='username' id='username'>
  <input type='text' name='password' id='password'>
  <input type='text' name='email' id='email'>

<<<<<<< HEAD
  <input type='submit' value='Login'>
</form>
=======
  <input type='submit' value='submit' id='submit'>
</form>
>>>>>>> c864fbc63f92b56e129f98a46617153a7b0ade4e
