<h1>Login</h1>
<form method='POST' action='/login'>
  <input type='text' name='username' id='username'>
  <input type='text' name='password' id='password'>
  <input type='text' name='email' id='email'>
  <input type='submit' value='Login'>
</form>
