<h1>Sign up</h1>
<form action='/signup' method= 'POST'>
   Username:<label><input type='text' name='username' value='username'></label>
   Email:<label><input type='text' name='email' value='email'></label>
   Password:<label><input type='text' name='password' value='password'></label>
   <input type= 'submit' value='submit' name='submit'>
</form>